.image{
       }
	   
.header{
		background: url("https://upload.wikimedia.org/wikipedia/commons/a/a9/Hong_Kong_Night_view.jpg");
		background-size: cover; 
		text-align: center;
		padding: 150px;
		}	


.banner1{color: #3399ff;
        background: rgba(0,0,0,0.5);
		background-size: cover;
		font-size: 18px;
		display: inline;
		}
		
body {background-color: #FAF0E6;
	  text-align:justify;
}
		
h1 {font-family: 'Londrina Shadow', cursive;
	font-size: 75px;
	text-align: center;
	margin: 60px 0 0 0;
	color: #aaaaaa;}
		
.content1 {background-color: #3399ff;
	       border-radius: 20px;
	       color: white;
		   padding: 10px;
	       margin: 10px auto;
		   margin: 0 auto;
         }

.content2{background-color: #00A4B9;
	        border-radius: 20px;
	        color: white;
	        padding: 10px;
	        margin: 10px auto;
          }

.content3{background-color: #149671;
          border-radius: 20px;
	        color: white;
	        padding: 10px;
	        margin: 10px auto;
          }

.content4{background-color: #AC4057;
          border-radius: 20px;
	        color: white;
	        padding: 10px;
	        margin: 10px auto;
          }
		  
.content5{background-color: #294860;
          border-radius: 20px;
	        color: white;
	        padding: 10px;
	        margin: 10px auto;
          }

.logic{ background: red;
		color:white;
		border: 0;
		font-size: 10px;
		}		  
		  
.comment{background-color: black;
		  border: 0;
	        color: white;
	        padding: 20px;
	        margin: 10px auto;
         }
		 
@media (max-width: 500px)