<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Kevin's Intro to Programming</title>
    <link href ="../stylesheets/style.css" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>

<body>
    <div class = "banner">
    <h1><marquee>Kevin's Udacity project</marquee></h1>
    </div>
    <div class="header">
    <div class="image">
        <img src=https://myavantiservices.files.wordpress.com/2015/02/helloworld.gif alt="helloworld"/>
    </div>
    <div class="banner">
       Kevin's understanding on programming
    </div>
    </div>

    <div class = "commend">
    {% block content %}
    {% endblock %}
    <form action="/sign" method="post">
        <h2>Feel free to leave me commend or feedback =)</h2><br>
        <div class="logic"><h3><a href="{{ url }}">{{ url_linktext }}</a></h3></div>
        <h3>commend:</h3>
        <div class="content"><textarea name="content" rows="3" cols="60"></textarea></div>
        <h3>age:</h3>
        <textarea name="age" rows="1" cols="10"></textarea>
        <input type="submit" value="Sign Guestbook">
    </form>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <br>
    <br>
    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author }}</b>{{ greeting.age }}wrote:
      {% else %}
        A Guest age:{{ greeting.age }} wrote:
      {% endif %}
        <blockquote>{{ greeting.content }}</blockquote>
    {% endfor %}
    </div>
</body>
</html>



